<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Welcome to SHIMON">
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>

{% include "headers-css.html" %}

</head>
<body>

<div class="container">
<ol class="content" id="tray">
	{% include "sidebar.html" %}
	<span class="center name point" id="reload" onclick="reload_index()">RELOAD</span>
</ol>
{% include "error-msg.html" %}
</div>

{% include "headers.html" %}

<script>

url("") //set url

preload={{ preload|default("false")|safe() }}
friends={{ friends|default("false")|safe() }}

reload_index() //load recents if there is no error

setInterval(reload_index, api_wait)

</script>

</body>
</html>