# hide temp or object files
__pycache__/
*.bak

# hide all js files except certain files
SHIMON/static/js/*
!SHIMON/static/js/bundle.js

# hide certain css files
SHIMON/static/css/*
!SHIMON/static/css/bundle.css
!SHIMON/static/css/login.css

# hide personal files
data.gpg*
todo

# hide vim related files
*.swp
.vim

# hide helper files
m
_mod.py
run

testing/ava_test/
.*cache/