# hide temp or object files
*.pyc
.mypy_cache/
__pycache__/
.venv/
*.bak

# hide all js files except certain files
SHIMON/static/js/*
!SHIMON/static/js/bundle.js

# hide certain css files
SHIMON/static/css/*
!SHIMON/static/css/bundle.css

# hide cache data
data.gpg*