<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="View your account details here">
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>

{% include "utils/styles.html" %}

</head>
<body>
<div class="container">
<ol class="content" id="tray">
	<li class="name"><a class="setting point" href="/settings">SETTINGS</a></li>
	<li class="name setting"><span class="point" onclick="lock(event)">LOCK</span></li>
	<li class="name setting"><span class="point" onclick="save(event)">SAVE</span></li></br>
	<li class="name setting">
		<a href="https://github.com/dosisod/SHIMON" class="info">SHIMON v{{ version }}</a>
	</li>
</ol>
{% include "utils/error-msg.html"%}

</div>

{% include "utils/scripts.html"%}

<script>
window.addEventListener("load", function(){

url("account")
setInterval(heartbeat, api_wait)

})
</script>

</body>
</html>