<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="View your account details here">
<meta name="viewport" content="width=device-width">
<title>Account</title>

{% include "utils/styles.jinja" %}

</head>
<body>
<div class="container">
<ol class="tray"><div id="tray">
	<li class="name"><a class="setting point" href="/settings">SETTINGS</a></li>
	<li class="name setting"><span class="point" onclick="lock(event)">LOCK</span></li>
	<li class="name setting"><span class="point" onclick="save(event)">SAVE</span></li></br>
	<li class="name setting">
		<a href="https://github.com/dosisod/SHIMON" class="info">SHIMON v{{ version }}
		<!-- license for tabler icons is availbe at github.com/tabler/tabler-icons -->
		<svg xmlns="http://www.w3.org/2000/svg" id="external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z"/>
			<path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
			<line x1="10" y1="14" x2="20" y2="4" />
			<polyline points="15 4 20 4 20 9" />
		</svg>
		</a>
	</li>
</div></ol>
{% include "utils/error-msg.jinja"%}

</div>

{% include "utils/scripts.jinja"%}

<script>
window.addEventListener("load", function(){

url("account")

setHeartbeat()

})
</script>

<style>
#external-link {
	vertical-align: middle;
	padding-bottom: 5px;
	padding-left: 5px;
	stroke: #3428c1;
}
</style>

</body>
</html>