<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Add a friend">
<meta name="viewport" content="width=device-width">
<title>Add Friend</title>

{% include "utils/styles.jinja" %}

</head>
<body>
<div class="container">
<ol class="tray"><div id="tray">
  <li class="item">
    <li class="name hide setting">
      <input id="name" class="name input" placeholder="NAME" />
    </li>
  </li>
  <textarea class="name" id="id" placeholder="USER ID"></textarea>
  <li class="name setting">
    <button class="input" onclick="send()" id="click">ADD FRIEND</button>
  </li>
</div></ol>
{% include "utils/error-msg.jinja" %}

</div>

{% include "utils/scripts.jinja" %}

<script>
window.addEventListener("load", function(){

url("add")

setHeartbeat()

window["send"]=function() {
  post({"add friend": {
    "id": nu("id").value,
    "name": nu("name").value
  }}, true)
}

})
</script>

</body>
</html>