<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Add a friend">
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>

{% include "utils/styles.html" %}

</head>
<body>
<div class="container">
<ol id="tray">
	<li class="item">
		<li class="name hide setting">
			<input id="name" class="name input white" placeholder="NAME" />
		</li>
	</li>
	<textarea class="name white" id="id" placeholder="USER ID"></textarea>
	<li class="name setting">
		<button class="input" onclick="send()" id="click">ADD FRIEND</button>
	</li>
</ol>
{% include "utils/error-msg.html" %}

</div>

{% include "utils/scripts.html" %}

<script>
window.addEventListener("load", function(){

url("add")

setHeartbeat()

window["send"]=function() {
	post({"add friend": {
		"id": nu("id").value,
		"name": nu("name").value
	}}, true)
}

})
</script>

</body>
</html>