<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="An error was encountered">
<meta name="viewport" content="width=device-width">
<title>ERROR {{ error }}</title>

{% include "utils/styles.html" %}

</head>
<body>

<pre>
<span class="nopoint" style="font-size: 35px">SHIMON</span>
<span style="font-size: 15px; color: red">ERROR {{ error }} {{ msg or '' }}</span><span style="font-size: 15px;">&nbsp;-&gt; {{ url }}</span>
{% if traceback %}
<span style="font-size: 15px; color: grey">{{ traceback }}</span>
{% endif %}
<a href="/">BACK TO HOME</a>

</pre>

<style>
.nopoint {
	cursor: default;
}
a {
	font-size: 15px;
	color: black;
	text-decoration: underline;
}
pre {
	margin-left: 5px;
}
</style>

{% include "utils/scripts.html" %}
<script>
window.addEventListener("load", function(){

url("error/{{ error }}")

})
</script>

</body>
</html>