<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Welcome to SHIMON">
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>

{% include "utils/styles.html" %}

</head>
<body>

<div class="container">
{% include "utils/sidebar.html" %}
<ol id="tray">
	<span class="center name point" id="reload" onclick="reloadIndex()">RELOAD</span>
</ol>
{% include "utils/error-msg.html" %}
</div>

{% include "utils/scripts.html" %}

<script>
window.addEventListener("load", function(){

url("")

preload=JSON.parse({{ preload|default("false")|tojson }})
friends=JSON.parse({{ friends|default("false")|tojson }})

reloadIndex()

setHeartbeat(reloadIndex)

})
</script>

</body>
</html>