<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="SHIMON login">
<meta name="viewport" content="width=device-width">
<title>Login</title>

{% include "utils/styles.jinja" %}

</head>

<body>

<div id="tray" class="login">
  <span class="login-title nopoint">SHIMON</span><br>
  <span id="prompt" class="nopoint login"></span>
  <form method="POST" action="/api/" id="form" class="login">
    <input name="unlock" id="pwd" class="login" type="password" autocomplete="password" /><button class="login" type="submit"><img src="/img/lock-open.svg" id="click" class="login"></button>
  </form>
  <span id="error" class="login">{{ error }}</span>
</div>

{% include "utils/scripts.jinja" %}
<script>
window.addEventListener("load", function(){

url("login")

})

</script>

</body>
</html>