<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="SHIMON login">
<meta name="viewport" content="width=device-width">
<title>Login</title>

<link rel="stylesheet" href={{ url_for("static", filename="css/login.css") }}>

</head>

<body>

<div class="container">
<div id="tray">
	<span class="title nopoint">SHIMON</span><br>
	<span id="prompt" class="nopoint"></span>
	<form method="POST" action="/api/" id="form">
		<input name="unlock" id="pwd" type="password" autocomplete="password" /><img src="/img/lock-open.svg" id="click">
	</form>
	<span id="error">{{ error }}</span>
</div>
</div>

{% include "utils/scripts.jinja" %}
<script>
window.addEventListener("load", function(){

url("login")

})

document.getElementById("click").onclick=function() {
	document.getElementById("form").submit()
}

</script>

</body>
</html>