<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="SHIMON login">
<meta name="viewport" content="width=device-width">
<title>LOGIN</title>

<link rel="stylesheet" href={{ url_for("static", filename="css/login.css") }}>

</head>

<body>

<div class="container">
<div class="content">
	<span class="title nopoint">SHIMON</span><br>
	<span id="prompt" class="desc nopoint"></span>
	<form method="POST" action="/api/" id="bar">
		<input name="unlock" id="pwd" type="password" autocomplete="password" /><input type="submit" id="click" value="UNLOCK" />
	</form>
	<span id="msg">{{ error }}</span>
</div>
</div>

{% include "utils/headers.html" %}
<script>url("login")</script>

</body>
</html>