<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Message user">
<meta name="viewport" content="width=device-width">
<title>Message</title>

{% include "utils/styles.jinja" %}

</head>
<body>

<div class="container">
{% include "utils/sidebar.jinja" %}
<ol class="tray">
  <div id="tray"></div>
  <span class="name point" id="reload" onclick="reloadMsgs()">RELOAD</span>
</ol>
{% include "utils/error-msg.jinja" %}
<input id="typer" placeholder="Type away!" onkeydown="send(event)" />
</div>

{% include "utils/scripts.jinja" %}

<script>
window.addEventListener("load", function(){

preload=JSON.parse({{ preload|default("false")|tojson }})
friends=JSON.parse({{ friends|default("false")|tojson }})

let uname=cookie("uname")

url("@" + uname)
document.title+=" " + realname(uname)

reloadMsgs()

setHeartbeat(reloadMsgs)

})
</script>

</body>
</html>