<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Message user">
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>

{% include "utils/styles.html" %}

</head>
<body>

<div class="container">
<ol id="tray">
	{% include "utils/sidebar.html" %}
	<span class="center name point" id="reload" onclick="reloadMsgs()">RELOAD</span>
</ol>
{% include "utils/error-msg.html" %}
<input id="typer" placeholder="Type away!" onkeydown="send(event)" />
</div>

{% include "utils/scripts.html" %}

<script>
window.addEventListener("load", function(){

url("@" + cookie("uname"))

preload=JSON.parse({{ preload|default("false")|tojson }})
friends=JSON.parse({{ friends|default("false")|tojson }})

reloadMsgs()

setHeartbeat(reloadMsgs)

})
</script>

</body>
</html>