<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Message user">
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>

{% include "utils/headers-css.html" %}

</head>
<body>

<div class="container">
<ol class="content" id="tray">
	{% include "utils/sidebar.html" %}
	<span class="center name point" id="reload" onclick="reload_msgs()">RELOAD</span>
</ol>
{% include "utils/error-msg.html" %}
<input id="typer" placeholder="Type away!" onkeydown="send(event)" />
</div>

{% include "utils/headers.html" %}

<script>
window.addEventListener("load", function(){

url("@"+document.cookie.replace(/(?:(?:^|.*;\s*)uname\s*\=\s*([^;]*).*$)|^.*$/, "$1")) //set url

preload={{ preload|default("false")|safe() }}
friends={{ friends|default("false")|safe() }}

reload_msgs()

setInterval(reload_msgs, api_wait)

})
</script>

</body>
</html>