<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="SHIMON has been updated since last opened">
<meta name="viewport" content="width=device-width">
<title>WARNING</title>

{% include "utils/styles.jinja" %}

</head>

<body>

<div class="container">
<div id="tray">
	<br>
	<span class="title warn">WARNING</span>
	<br>
	<span class="desc">SHIMON has been updated since last run, some features may not work as expected</span>
	<br>
	<a id="next" href="/">CONTINUE</a>
</div>
</div>

<style>
.warn {
	display: block;
}

.desc {
	display: block;
	color: var(--text-fg);
}

#next {
	text-decoration: underline;
	color: var(--text-fg);
}
</style>

{% include "utils/scripts.jinja" %}

<script>
window.addEventListener("load", function(){

url("")

})
</script>

</body>
</html>