<div class="rightbar">
  <a class="rightitem name point" href="/add">ADD FRIEND</a><br>
  <a class="rightitem name point" href="/account">ACCOUNT</a><br>
  <span class="rightitem name point" onclick="save(event)">SAVE</span>
</div>
