{% macro checkbox(text, id, checked) -%}
<li class="name setting nopoint"><span>{{ text }}
  <div class="checkbox dropdown point{{ " checkbox-unchecked" if not checked }}" data-type="{{ text }}" onclick="setting.button(this)" id="{{ id }}">
    {{ svg("/img/x.svg") if checked }}
  </div>
</span></li>
{%- endmacro %}

{% macro dropdown(text, default, data) -%}
<li class="name setting nopoint">{{ text }}
  {{ svg("/img/chevron-down.svg") }}
  <select class="dropdown point" onchange="setting.dropdown(this)" data-type="{{ text }}">
    <option disabled="disabled" selected="selected">
    {%- for i in data -%}
      {%- if i[0]==default -%}
        {{ i[1] }}
      {%- endif -%}
    {%- endfor -%}
    </option>
    {%- for i in data %}
    <option value="{{ i[0] }}">{{ i[1] }}</option>
    {%- endfor %}
  </select>
</li>
{%- endmacro %}

{% macro svg(filename) %}
{% include filename %}
{%- endmacro %}
