:root {

--x-receiving-fg: #{$x-receiving-fg};
--receiving-bg: #{$receiving-bg};
--receiving-fg: #{$receiving-fg};
--receiving-bd: #{$receiving-bd};
--x-sending-fg: #{$x-sending-fg};
--sending-bg: #{$sending-bg};
--sending-fg: #{$sending-fg};
--sending-bd: #{$sending-bd};
--typer-bd: #{$typer-bd};
--typer-sd: #{$typer-sd};
--container-bg: #{$container-bg};
--checkbox-bg: #{$checkbox-bg};
--checkbox-fg: #{$checkbox-fg};
--checkbox-bd: #{$checkbox-bd};
--input-bd: #{$input-bd};
--input-bg: #{$input-bg};
--input-fg: #{$input-fg};
--click-bg: #{$click-bg};
--click-fg: #{$click-fg};
--title-fg: #{$title-fg};
--msg-fg: #{$msg-fg};
--rightitem-fg: #{$rightitem-fg};
--warn-fg: #{$warn-fg};
--info-fg: #{$info-fg};
--setting-fg: #{$setting-fg};
--dropdown-bg: #{$dropdown-bg};
--dropdown-bd: #{$dropdown-bd};
--dropdown-fg: #{$dropdown-fg};
--dropdown-src: #{$dropdown-src};
--reload-fg: #{$reload-fg};
--error-bg: #{$error-bg};
--text-fg: #{$text-fg};

}
