@use 'urls';

:root {
	--x-receiving-fg: black;
	--receiving-bg: white;
	--receiving-fg: black;
	--receiving-bd: black;
	--x-sending-fg: white;
	--sending-bg: black;
	--sending-fg: white;
	--sending-bd: white;
	--typer-bd: white;
	--typer-sd: black;
	--container-bg: black;
	--checkbox-bg: black;
	--checkbox-fg: white;
	--checkbox-bd: white;
	--input-bd: #333;
	--input-bg: black;
	--input-fg: white;
	--click-bg: black;
	--click-fg: white;
	--title-fg: white;
	--msg-fg: white;
	--rightitem-fg: white;
	--warn-fg: red;
	--info-fg: grey;
	--setting-fg: white;
	--dropdown-bg: black;
	--dropdown-fg: white;
	--dropdown-bd: white;
	--dropdown-src: #{urls.$dropdown-white};
	--reload-fg: white;
	--error-bg: black;
}
