@use 'urls';

$dark-gray: #191919;
$slight-gray: #aaa;

:root {
	--x-receiving-fg: #{$dark-gray};
	--receiving-bg: #{$slight-gray};
	--receiving-fg: #{$dark-gray};
	--receiving-bd: #{$dark-gray};
	--x-sending-fg: #{$slight-gray};
	--sending-bg: #{$dark-gray};
	--sending-fg: #{$slight-gray};
	--sending-bd: #{$slight-gray};
	--typer-bd: #{$dark-gray};
	--typer-sd: #{$dark-gray};
	--container-bg: #{$dark-gray};
	--checkbox-bg: #{$dark-gray};
	--checkbox-fg: #{$slight-gray};
	--checkbox-bd: #{$slight-gray};
	--input-bd: #444;
	--input-bg: #{$dark-gray};
	--input-fg: #{$slight-gray};
	--click-bg: #{$dark-gray};
	--click-fg: #{$slight-gray};
	--title-fg: #{$slight-gray};
	--msg-fg: #{$slight-gray};
	--rightitem-fg: #{$slight-gray};
	--warn-fg: #a50000;
	--info-fg: #444;
	--setting-fg: #{$slight-gray};
	--dropdown-bg: #{$dark-gray};
	--dropdown-fg: #{$slight-gray};
	--dropdown-bd: #{$slight-gray};
	--dropdown-src: #{urls.$dropdown-white};
	--reload-fg: #{$slight-gray};
	--error-bg: #{$dark-gray};
}
