$dark-gray: #191919;
$light-gray: #aaa;

$bg: $dark-gray;
$fg: $light-gray;

$receiving-bg: $light-gray;
$receiving-fg: $dark-gray;

$input-bd: #444;
$info-fg: #444;
$warn-fg: #a50000;

@import 'theme';
