/* Reference to the original colorscheme */
/* github.com/altercation/solarized      */

$red: #dc322f;
$yellow: #b58900;
$orange: #cb4b16;
$green: #859900;
$cyan: #2aa198;
$prussian: #073642;
$sapphire: #002b36;
$violet: #6c71c4;
$magenta: #d33682;

$white: #fdf6e3;
$gray: #839496;
$grayer: #657b83;
$grayest: #586e75;

$bg: $sapphire;
$fg: white;

$text-fg: $gray;
$title-fg: $violet;
$msg-fg: $gray;
$rightitem-fg: $green;
$reload-fg: $magenta;
$warn-fg: $red;
$info-fg: $grayer;

$receiving-bg: $grayest;
$receiving-bd: $receiving-bg;
$receiving-fg: $white;
$x-receiving-fg: $yellow;

$sending-bg: $prussian;
$sending-bd: $sending-bg;
$sending-fg: $cyan;
$x-sending-fg: $orange;

$input-base-bg: $prussian;

$typer-bd: $prussian;

$checkbox-bg: $white;
$checkbox-fg: $sapphire;

$input-bd: $sapphire;

$setting-fg: $white;
$dropdown-bg: $white;
$dropdown-bd: $white;
$dropdown-fg: $sapphire;

@import 'theme';
