/* Reference to the original colorscheme */
/* github.com/altercation/solarized      */

@use 'urls';

$red: #dc322f;
$yellow: #b58900;
$orange: #cb4b16;
$green: #859900;
$cyan: #2aa198;
$prussian: #073642;
$sapphire: #002b36;
$violet: #6c71c4;
$magenta: #d33682;

$white: #fdf6e3;
$gray: #839496;
$grayer: #657b83;
$grayest: #586e75;

:root {
	--x-receiving-fg: #{$yellow};
	--receiving-bg: #{$grayest};
	--receiving-fg: #{$white};
	--receiving-bd: #{$grayest};
	--x-sending-fg: #{$orange};
	--sending-bg: #{$prussian};
	--sending-fg: #{$cyan};
	--sending-bd: #{$prussian};
	--typer-bd: #{$sapphire};
	--typer-sd: #{$sapphire};
	--container-bg: #{$sapphire};
	--checkbox-bg: #{$white};
	--checkbox-fg: #{$sapphire};
	--checkbox-bd: #{$sapphire};
	--input-bd: #{$sapphire};
	--input-bg: white;
	--input-fg: black;
	--click-bg: white;
	--click-fg: black;
	--title-fg: #{$violet};
	--msg-fg: #{$gray};
	--rightitem-fg: #{$green};
	--warn-fg: #{$red};
	--info-fg: #{$grayer};
	--setting-fg: #{$white};
	--dropdown-bg: #{$white};
	--dropdown-bd: #{$white};
	--dropdown-fg: #{$sapphire};
	--dropdown-src: #{urls.$dropdown-black};
	--reload-fg: #{$magenta};
	--error-bg: #{$sapphire};
}
