/*!
Licene for dejavu font can be found at:
https://dejavu-fonts.github.io/License.html
*/

@font-face {
  font-family: "dejavu";
  src: url(/font/DejaVuSansMono.ttf) format("truetype");
  font-display: swap;
}

* {
  font-family: "dejavu", monospace, monospace;
  text-decoration: none;
}
