@use 'screen';

* {
	border-radius: 0;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

#tray {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#prompt {
	font-size: calc(1vw + 1em);
	padding-bottom: 5px;

	&::after {
		content: "Type in password to unlock cache";
	}
}

@include screen.mobile {
	#tray {
		left: 5px;
		transform: translate(0%, -50%);
	}

	#prompt::after {
		content: "Enter password to unlock";
	}
}

.title {
	font-size: 45px;
}

form {
	margin-top: 10px;
}

input {
	border: 1px solid #333;
	box-sizing: border-box;
	vertical-align: middle;
	height: 20px;
	background: white;
	color: black;
}

#pwd {
	font-size: 20px;
	width: calc(16vw + 5em);
}

#click {
	vertical-align: middle;
	padding-bottom: 2px;
	margin-left: 5px;
	cursor: pointer;
}

.nopoint {
	cursor: default;
}

#error {
	display: block;
	margin-top: 10px;
	color: red;
}