@use 'screen';

#tray.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#prompt.login {
  font-size: calc(1vw + 1em);
  padding-bottom: 5px;

  &::after {
    content: "Type in password to unlock cache";
  }
}

@include screen.mobile {
  #tray.login {
    left: 5px;
    transform: translate(0%, -50%);
  }

  #prompt.login::after {
    content: "Enter password to unlock";
  }
}

.login-title {
  font-size: 45px;
}

form.login {
  margin-top: 10px;
}

button.login[type=submit] {
  padding: 0;
  border: 0;
  margin-left: 5px;
  background: transparent;
  cursor: pointer;
}

#pwd.login {
  border: 1px solid #333;
  box-sizing: border-box;
  vertical-align: middle;
  height: 20px;
  background: white;
  color: black;
  font-size: 20px;
  width: calc(16vw + 5em);
}

#click.login {
  vertical-align: middle;
}

#error.login {
  display: block;
  margin-top: 10px;
  color: red;
}