<html>
<head>
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>
<link rel="stylesheet" href={{ url_for("static", filename="ui.css") }}>

</head>
<body>
<div class="container">
<ol class="content" id="tray">
	<li class="item">
		<div class="holder">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGElEQVQ4jWNgYGD4TyEeNWDUgFEDhocBAJvM/wEeNfmLAAAAAElFTkSuQmCC">
			<ol>
				<li class="name hide">USER ACCOUNT</li>
			</ol>
		</div>
	</li>
	<li class="name setting"><span onclick="window.location='/settings'">SETTINGS</span></li>
	<li class="name setting"><span onclick="lock(event)">LOCK</span></li></br>
	<li class="name setting">
		<a href="https://github.com/dosisod/SHIMON" class="info">SHIMON</a>
		<span id="version" class="info"></span>
	</li>
</ol>
<span class="warn error" id="error"></span>

</div>

<script src={{ url_for("static", filename="shimon.min.js") }}></script>

<script>
url("account")

post({"status":""}).then(e=>{
	document.getElementById("version").innerHTML="&nbsp;v"+e.version
})
</script>

</body>
</html>