<html>
<head>
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>
<link rel="stylesheet" href={{ url_for("static", filename="font.css") }}>
{% include "ui.css" %}

</head>
<body>
<div class="container">
<ol class="content" id="tray">
	<li class="item">
		<div class="holder nopoint">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGElEQVQ4jWNgYGD4TyEeNWDUgFEDhocBAJvM/wEeNfmLAAAAAElFTkSuQmCC">
			<ol>
				<li class="name title hide">USER ACCOUNT</li>
			</ol>
		</div>
	</li>
	<li class="name"><a class="setting point" href="/settings">SETTINGS</a></li>
	<li class="name setting"><span class="point" onclick="lock(event)">LOCK</span></li>
	<li class="name setting"><span class="point" onclick="save(event)">SAVE</span></li></br>
	<li class="name setting">
		<a href="https://github.com/dosisod/SHIMON" class="info">SHIMON v{{ version }}</a>
	</li>
</ol>
{% include "error-msg.html" %}

</div>

{% include "headers.html" %}

<script>
url("account")
setInterval(heartbeat, 5000)
</script>

</body>
</html>