<html>
<head>
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>
<link rel="stylesheet" href={{ url_for("static", filename="font.css") }}>
{% include "ui.css" %}

</head>
<body>
<div class="container">
<ol class="content" id="tray">
	<li class="item">
		<div class="holder nopoint">
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGElEQVQ4jWNgYGD4TyEeNWDUgFEDhocBAJvM/wEeNfmLAAAAAElFTkSuQmCC">
			<ol>
				<li class="name hide"><input id="name" class="input white" placeholder="NAME"></input></li>
			</ol>
		</div>
	</li>
	<textarea class="name white" id="id" placeholder="USER ID"></textarea>
	<li class="name setting"><button class="input" onclick="send()" id="click">ADD FRIEND</button></li>
</ol>
{% include "error-msg.html" %}

</div>

{% include "headers.html" %}

<script>
url("add")

setInterval(heartbeat, 5000)

function send() {
	post({"add friend": {
		"id":nu("id").value,
		"name": nu("name").value
	}}, true)
}

</script>

</body>
</html>