<html>
<head>
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>
<link rel="stylesheet" href={{ url_for("static", filename="ui.css") }}>

</head>
<body>
<div class="container">
<ol class="content" id="tray">
	<li class="name setting">USER ID: <input class="input" id="id"></input></li>
	<li class="name setting">NAME: <input class="input" id="name"></input></li>
	<li class="name setting"><button class="input" onclick="send()" id="click">ADD FRIEND</button></li>
</ol>
<span class="warn error" id="error"></span>

</div>
</div>

<script src={{ url_for("static", filename="shimon.min.js") }}></script>

<script>
url("add")

function send() {
	post({"add friend": {
		"id": document.getElementById("id").value,
		"name": document.getElementById("name").value
	}}, true)
}

</script>

</body>
</html>