<html>
<head>
<meta name="viewport" content="width=device-width">
<title>ERROR {{ error }}</title>
<link rel="stylesheet" href={{ url_for("static", filename="font.css") }}>
<head>

<body>

<pre>
<span class="nopoint" style="font-size: 35px">SHIMON</span>
<span style="font-size: 15px; color: red">ERROR {{ error }}{% if msg %} {{ msg }}{% endif %}</span><span style="font-size: 15px;">&nbsp;-&gt; {{ url }}</span>
{% if traceback %}
<span style="font-size: 15px; color: grey">{{ traceback }}</span>
{% endif %}
<a href="/">BACK TO HOME</a>

</pre>

<style>
.nopoint {
	cursor: default;
}
a {
	font-size: 15px;
	color: black;
	text-decoration: underline;
}
</style>

<script src={{ url_for("static", filename="url.js") }}></script>
<script>url("error/{{ error }}")</script>

</body>
</html>