<html>
<head>
<title>SHIMON</title>
<link rel="stylesheet" href={{ url_for("static", filename="styles.css") }}>

</head>
<body>
<div class="container">
<ol class="content" id="tray">
	<li class="item">
		<div>
			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAhklEQVR4nIVSSxYAIQiSXve/MrOoITKnceUHFC2QjNcAjBBARMgnqVJTeSAAqHYzR5AcoZJe7a4hWVK4mPf2DiUZXhY6Kam78LVyNxHaL8jzAFrYpfNyu5517q+WZbKXSs5RcrYv4OiSNgmJc8rwZ81XWqOB2H/hRHpQ+rE/aEtDJf3MDM4Dy07mgGmeyYIAAAAASUVORK5CYII=">
			<ol>
			<li class="name">Username</li>
			<li class="msg">Placeholder text</li>
			</ol>
		</div>
	</li>
</ol>

</div>
</div>

<script src={{ url_for("static", filename="url.js") }}></script>
<script>url("")</script>
<script src={{ url_for("static", filename="shimon.js") }}></script>

</body>
</html>