<html>
<head>
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>
<link rel="stylesheet" href={{ url_for("static", filename="index.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="font.css") }}>
{% include "ui.css" %}

</head>
<body>

<div class="container">
<ol class="content" id="tray">
	{% include "sidebar.html" %}
	<span class="center name point" id="reload" onclick="reload_index()">RELOAD</span>
</ol>
{% include "error-msg.html" %}
</div>

{% include "headers.html" %}

<script>
url("") //set url

preload={{ preload|safe()|default("[]") }}

{% if not error|length %}
reload_index() //load recents if there is no error
{% endif %}

setInterval(reload_index, 5000) //reload again every 5 seconds
</script>

</body>
</html>