<html>
<head>
<meta name="viewport" content="width=device-width">
<title>LOGIN</title>

<link rel="stylesheet" href={{ url_for("static", filename="css/login.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="css/font.css") }}>

</head>

<body>

<div class="container">
<div class="content">
	<span class="title nopoint">SHIMON</span><br>
	<span id="prompt" class="desc nopoint"></span>
	<form method="POST" action="/api/" id="bar">
		<input name="unlock" id="pwd" type="password"></input><input type="submit" id="click" value="UNLOCK"></input>
	</form>
	<span id="msg">{{ error }}</span>
</div>
</div>

<script src={{ url_for("static", filename="js/url.js") }}></script>
<script>url("login")</script>

</body>
</html>