<html>
<head>
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>
<link rel="stylesheet" href={{ url_for("static", filename="font.css") }}>
{% include "msg.css" %}
{% include "ui.css" %}

</head>
<body>

<div class="container">
<ol class="content" id="tray">
	{% include "sidebar.html" %}
	<span class="center name point" id="reload" onclick="reload_msgs()">RELOAD</span>
</ol>
{% include "error-msg.html" %}
<input id="typer" placeholder="Type away!" onkeydown="send(event)"></input>
</div>

{% include "headers.html" %}

<script src={{ url_for("static", filename="msg.js") }}></script>
<script>
url("msg/"+document.cookie.replace(/(?:(?:^|.*;\s*)uname\s*\=\s*([^;]*).*$)|^.*$/, "$1")) //set url

preload={{ preload|default("false")|safe() }}
friends={{ friends|default("false")|safe() }}

reload_msgs() //reload

setInterval(reload_msgs, 5000) //reload again every 5 seconds

</script>

</body>
</html>