<html>
<head>
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>
<link rel="stylesheet" href={{ url_for("static", filename="ui.css") }}>
<link rel="stylesheet" href={{ url_for("static", filename="msg.css") }}>

</head>
<body>

<div class="container">
<ol class="content" id="tray">
	{% include "sidebar.html" %}
	<li class="center name" id="reload" onclick="reload_msgs()">RELOAD</li>
</ol>
<span class="warn error" id="error"></span>
<input id="typer" onkeydown="send(event)"></input>
</div>

<script src={{ url_for("static", filename="shimon.min.js") }}></script>

<script>
url("msg/"+document.cookie.replace(/(?:(?:^|.*;\s*)uname\s*\=\s*([^;]*).*$)|^.*$/, "$1")) //set url

reload_msgs() //reload

setInterval(reload_msgs, 5000) //reload again every 5 seconds

function send(e) { //send msg to user
	//only send if enter was pressed
	if (e.key!="Enter") return

	document.getElementById("tray").insertBefore(
		nu("span", { //immediately add sent msg to screen, reload later
			"className": "msg",
			"innerText": e.target.value
		}, [
			nu("div", {
				"className": "holder block sending"
			}),
			nu("li", {
				"className": "item"
			})
		]),
		document.getElementById("reload")
	)

	post({"send msg":{
		"uname": document.cookie.replace(/(?:(?:^|.*;\s*)uname\s*\=\s*([^;]*).*$)|^.*$/, "$1"),
		"msg": e.target.value
	}})

	e.target.value="" //reset input box
}

</script>

</body>
</html>