<html>
<head>
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>
<link rel="stylesheet" href={{ url_for("static", filename="ui.css") }}>

</head>
<body>
<div class="container">
<ol class="content" id="tray">
	<li class="name setting"><span onclick="setting(this)">CHANGE PASSWORD</span></li>
	<li class="name setting"><span onclick="setting(this)">GENERATE NEW KEY</span></li>
	<li class="name setting">EXPIRATION TIMER
		<select class="dropdown">
			<option value="" disabled="disabled" selected="selected"></option>
			<option value="900" onclick="setting(this)">15 Mins</option>
			<option value="3600" onclick="setting(this)">1 Hour</option>
			<option value="18000" onclick="setting(this)">5 Hours</option>
			<option value="86400" onclick="setting(this)">1 Day</option>
		</select>
	</li>
	<li class="name setting"><span>ENABLE DEVELOPER MODE
		<input type="checkbox" class="dropdown" onclick="setting(this)" id="devmode"></input>
	</span></li>
	<li class="name setting warn"><span onclick="setting(this)">NUKE CACHE</span></li>
</ol>
<span class="warn error" id="error"></span>

</div>
</div>

<script src={{ url_for("static", filename="shimon.min.js") }}></script>

<script>url("settings")</script>

</body>
</html>