<html>
<head>
<meta name="viewport" content="width=device-width">
<title>SHIMON</title>

<link rel="stylesheet" href={{ url_for("static", filename="font.css") }}>
{% include "msg.css" %}
{% include "ui.css" %}

</head>
<body>
<div class="container">
<ol class="content" id="tray">
	<li class="name setting"><span class="point" onclick="setting(this)">CHANGE PASSWORD</span></li>
	<li class="name setting warn"><span class="point"onclick="setting(this)">GENERATE NEW KEY</span></li>
	<li class="name setting nopoint">EXPIRATION TIMER
		<select class="dropdown point">
			{# based on the number of seconds, display the current expiration timeout #}
			<option value={{ seconds }} disabled="disabled" selected="selected">
			{% if seconds==900 %}
				15 Mins
			{% elif seconds==3600 %}
				1 Hour
			{% elif seconds==18000 %}
				5 Hours
			{% elif seconds==86400 %}
				1 Day
			{% endif %}
			</option>
			<option value="900" onclick="setting(this)">15 Mins</option>
			<option value="3600" onclick="setting(this)">1 Hour</option>
			<option value="18000" onclick="setting(this)">5 Hours</option>
			<option value="86400" onclick="setting(this)">1 Day</option>
		</select>
	</li>
	{% from "checkbox.html" import checkbox %}
	{{ checkbox("ENABLE DARKMODE", "darkmode", darkmode) }}
	{{ checkbox("ENABLE DEVELOPER MODE", "devmode", developer) }}
	<li class="name setting warn"><span class="point" onclick="setting(this)">NUKE CACHE</span></li>
</ol>
{% include "error-msg.html" %}

</div>

{% include "headers.html" %}

<script>url("settings")</script>

</body>
</html>