{% macro checkbox(text, id, var) %}<li class="name setting nopoint"><span>{{ text }}
	<input type="checkbox" class="dropdown point" onclick="setting(this)" id="{{ id }}" {% if var %}checked="checked"{% endif %}></input>
</span></li>{% endmacro %}

{% macro dropdown(text, default, data) %}<li class="name setting nopoint">{{ text }}
	<select class="dropdown point">
		<option disabled="disabled" selected="selected">{% for i in data %}{% if i[0]==default %}{{ i[1] }}{% endif %}{% endfor %}</option>
		{% for i in data %}
		<option value="{{ i[0] }}" onclick="setting(this)" data-type="{{ text }}">{{ i[1] }}</option>
		{% endfor %}
	</select>
</li>{% endmacro %}
