<style>
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
.container {
	{% if darkmode %}
	background: black;
	{% endif %}
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
.content {
	width: 50%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
@media screen and (max-width: 700px) {
	.content {
		width: 100%;
	}
}
.holder {
	overflow: hidden;
}
img {
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}
ol {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	color: {% if darkmode %}white{% else %}black{% endif %};
}
textarea {
	width: 100%;
	resize: none;
	border: 1px solid #333;
	box-sizing: border-box;
	vertical-align: middle;
	{% if darkmode %}
	background: black;
	color: white;
	{% else %}
	background: white;
	color: black;
	{% endif %}
}
.input {
	border: 1px solid #333;
	box-sizing: border-box;
	vertical-align: middle;
	height: 20px;
	{% if darkmode %}
	background: black;
	color: white;
	{% else %}
	background: white;
	color: black;
	{% endif %}
}
#click {
	{% if darkmode %}
	background: black;
	color: white;
	{% else %}
	background: white;
	color: black;
	{% endif %}
	cursor: pointer;
}
div > img {
	vertical-align: top;
	width: 64px;
	height: 64px;
}
.item {
	width: 100%;
	text-align: left;
}
.center {
	width: 100%;
	text-align: center;
}
.name {
	{% if darkmode %}
	color: white;
	{% endif %}
	font-weight: bold;
	font-size: 16px;
}
ol > .msg {
	{% if darkmode %}
	color: white;
	{% else %}
	color: black;
	{% endif %}
	font-size: 14px;
}
.rightbar {
	{% if darkmode %}
	background: black;
	color: white;
	{% endif %}
	position: absolute;
	right: 0;
	text-align: right;
}
.rightitem {
	background: {% if darkmode %}black{% else %}white{% endif %};
	position: relative;
	padding-top: 3px;
	padding-left: 5px;
	right: 0;
}
.setting {
	display: flex;
	align-items: center;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
.dropdown {
	vertical-align: middle;
	position: absolute;
	right: 0;
}
.warn {
	color: red;
}
.info {
	color: grey;
}
.error {
	padding: 5px;
	background: {% if darkmode %}black{% else %}white{% endif %};
	text-align: center;
	left: 50%;
	transform: translate(-50%);
	position: fixed;
}
.point {
	cursor: pointer;
}
.nopoint {
	cursor: default;
}
</style>